<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-button shape="round" expand="block" color="dark" routerLink="/cadastrar">Novo Produto</ion-button>
  <ion-button shape="round" expand="block" color="dark" routerLink="/entrada">Entrada</ion-button>
  <ion-button shape="round" expand="block" color="dark" routerLink="/saida">Saida</ion-button>
  <ion-button shape="round" expand="block" color="dark" routerLink="/listar">Listar</ion-button>
  </div>
</ion-content>
