<ion-header>
  <ion-toolbar>
    
    <ion-buttons>
      <ion-back-button Href=""></ion-back-button>
    </ion-buttons>

    <ion-title>listar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item *ngFor="let arrayProduto of arrayProduto" lines="none">
      <ion-label>Prod: {{arrayProduto.nome}}<br> Quan: {{arrayProduto.quantidade}}</ion-label>
      <ion-button color="danger" (click)="deletar(arrayProduto.id.value)"> <ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </div>
</ion-content>
