<ion-header>
  <ion-toolbar>

    <ion-buttons>
      <ion-back-button Href=""></ion-back-button>
    </ion-buttons>

    <ion-title>cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <form [formGroup]="produtoForm" (submit)="enviar()">

      <ion-item lines="none">
        <ion-label position="floating">Nome: </ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Valor: </ion-label>
        <ion-input formControlName="valor"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Quantidade: </ion-label>
        <ion-input formControlName="quantidade"></ion-input>
      </ion-item>

      <ion-button padding shape="round" expand="block" type="submit" [disabled]="!produtoForm.valid" routerLink='/home'>Salvar</ion-button>
    </form>
  </div>
</ion-content>
